<footer>
    <div class="text-center p-3 bg-dark text-white ">
        <a href="#!"><i class="fab fa-facebook-f fa-2x text-success"></i></a>
        <a href="#!"><i class="fab fa-twitter fa-2x text-success"></i></a>
        <a href="#!"><i class="fab fa-youtube fa-2x text-success"></i></a>
        <a href="#!"><i class="fab fa-github fa-2x text-success"></i></a>
        <a href="#!"><i class="fab fa-linkedin-in fa-2x text-success"></i></a>
        <a href="#!"><i class="fab fa-instagram fa-2x text-success"></i></a>
        <p> ©2021 LOR, Copyright</p>        
    </div>
</footer>