<footer>
    <div class=" p-3 bg-dark row justify-content-center">
        <div class="col-5">
            <div class="row justify-content-md-around">
                <div class="col"><a href="https://www.facebook.com/"><i class="fab fa-facebook-f fa-2x text-success"></i></a></div>
                <div class="col"><a href="https://twitter.com/"><i class="fab fa-twitter fa-2x text-success"></i></a></div>
                <div class="col"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><i class="fab fa-youtube fa-2x text-success"></i></a></div>
                <div class="col"><a href="https://github.com/GraViiX/LOR"><i class="fab fa-github fa-2x text-success"></i></a></div>
                <div class="col"><a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in fa-2x text-success"></i></a></div>
                <div class="col"><a href="https://www.instagram.com/"><i class="fab fa-instagram fa-2x text-success"></i></a></div>
            </div>
            <div class="row pt-2"><p class="text-center text-white"> ©2021 LOR, Copyright</p></div>
        </div>
    </div>
</footer>