<div class="container-fluid">
    <div class="row justify-content-md-around pb-5 ">
        <div class="card-title text-center">
            <h1 class="pt-4" style="font-family: zero_velocity_brkregular;">Store</h1>
        </div>
        <div class="row">
            <div class="col-sm-3 pb-3">
                <div class="card bg-darkgreen">
                    <img class="card-img-top" src="../../assets/Mathday.png" alt="Card image cap" style="height: 11rem;">
                    <div class="card-body">
                      <h5 class="card-title"><b>MathDay</b></h5>
                      <p class="card-text"><b>MathDay is a simple mathematic game which is designed to teach you maths</b></p>
                      <a href="#" class="btn btn-dark">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 pb-3">
                <div class="card bg-darkgreen">
                    <img class="card-img-top" src="../../assets/Cuby.png" alt="Card image cap" style="height: 11rem;">
                    <div class="card-body">
                      <h5 class="card-title"><b>Cuby</b></h5>
                      <p class="card-text"><b>Cuby is a deathrun level based video game. Can you escape this run of death?</b></p>
                      <a href="#" class="btn btn-dark">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>