<div class="container-fluid">
    <div class="row justify-content-md-around pb-5 ">
        <div class="card-title ">
            <h1>Store</h1>
        </div>

        <div class="col-sm-3 inline-flex m-4 p-2 game-banner loaded" style="max-width: 90%;">
            <a href="">
                <div class="row"><img src="../../assets/Mathday.png" alt=""></div>
                <div class="row bg-dark text-center card">
                    <h3>Mathday</h3>
                </div>
            </a>
        </div>

        <div class="col-sm-3 inline-flex m-4 p-2 game-banner loaded" style="max-width: 90%;">
            <a href="">
                <div class="row"><img src="../../assets/Cúbi.png" alt=""></div>
                <div class="row bg-dark text-center card">
                    <h3>Cúbi run</h3>
                </div>
            </a>
        </div>

        
    </div>
</div>