.bg-image-1 {
    background-image: url("../../assets/Mathday.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: cover;
    width: 100%;   
}

.banner {
    position: relative;
    overflow: hidden;
    height: 300px;
    max-height: 450px;
}