<body style="background-color: #5DC25B;">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-4 text-center">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs- ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="..\assets\Sildeshow1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="..\assets\Sildeshow2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="..\assets\Sildeshow3.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="..\assets\Sildeshow4.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-4 text-center">
        <h1>Launcher</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-4 text-center">
        <button class="btn btn-success" type="button" (click)="DownloadLauncher()">Download</button>
      </div>
    </div>
  </div>
</body>