<nav class="navbar navbar-expand-lg navbar-light bg-dark sticky-top" id="navbar" >
    <div class="container-fluid" id="Login">
        <h5 style="font-family: zero_velocity_brkregular;" class="text-success mt-2">lor</h5>
        <form class="container-fluid justify-content-start">
            <button class="btn btn-sm btn-outline-transparrent navtext-hover" routerLink="/home" type="button">Home</button>
            <button class="btn btn-sm btn-outline-transparrent navtext-hover" routerLink="/store" type="button">Store</button>
            <button class="btn btn-sm btn-outline-transparrent navtext-hover"  routerLink="/about" type="button">About</button>
        </form>
        <form>
            <!--<button class="btn btn-sm btn-outline-transparrent  text-white" routerLink="/login" type="button">Profile</button>-->
           <button class="btn btn-sm  text-success rounded-circle" (click)="LoginRoute()"  type="button" >
               <i class="fas fa-user fa-2x icon-hover"></i>
            </button>
        </form>
        <!--<div class="dropdown" *ngIf="(IsLogged  | async)== true">
            <button class="btn btn-sm  text-success rounded-circle dropdown-toggle" type="button" id="LoginButton" data-bs-toggle="collapse" 
            data-bs-auto-close="true" aria-expanded="false" ><i class="fas fa-user fa-2x icon-hover" aria-label="Toggle navigation"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="LoginButton" >
                <li><a class="dropdown-item" routerLink="/profile">Edit Profile</a></li>
                <li><a class="dropdown-item" routerLink="">Log out</a></li>
            </ul>
        </div>-->
    </div>
</nav>

<!--
    <div class="btn-group">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="defaultDropdown" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
    Default dropdown
  </button>
  <ul class="dropdown-menu" aria-labelledby="defaultDropdown">
    <li><a class="dropdown-item" href="#">Menu item</a></li>
    <li><a class="dropdown-item" href="#">Menu item</a></li>
    <li><a class="dropdown-item" href="#">Menu item</a></li>
  </ul>
</div>
-->
<!--


-->