@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .navbar {  
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 1s ease-out 0s 1 slideInFromLeft;

  }
  
  .icon-hover:hover {
    transform: scale(1.25);
    color: white;
}

.navtext-hover {
    transform: scale(1.25);
    color: #198754;
    text-shadow:0 0 .125em hsl(317,100%, 54%);
}
.navtext-hover:hover {
    transform: scale(1.25);
    color: white;
}

h4{
    color: hsl(317,100%, 54%);
}