<!-- container-fluid for 100% width-->
<!-- class="bg-transparent -->
<div class="container-fluid">
    <div class="row banner">
        <div class="col-sm-6 bg-image-1" style="height: 100%; display: flex; align-items: center;">
            <h1 class="Opacity-1 display-5" style="color: #5DC25B;">About the Team</h1>
        </div>
        <div class="col-sm-6 bg-image-2"></div>
    </div>

    <div class="row justify-content-md-around">

        <div class="col-sm-5 inline-flex ">
            <h1 class="text-center p-4 display-5">LOR</h1>
            <p class="text-center blockquote">We create the most epic interactive gaming and entertainment experiences
                on earth
                immersing players in new,
                unimagined worlds. Our products help build community and create social platforms that bring people
                together.
                We are relentlessly curious, pushing the boundaries of what is possible to create games of our
                dreams—and yours.
                To put it simply, our goal is to make every day more fun with games such as Cuby & Mathday. </p>
        </div>
        <div class="col-sm-5 inline-flex pt-5 ps-0">
            <img src="../../assets/Company.png" style="width: 100%; height: auto;">
        </div>
    </div>
</div>