<!-- container-fluid for 100% width-->
<div class="container-fluid">
    <div class="row">
        <div class="col background1">
            <img class="img-rounded background1" src="">
            <h1>About the Team</h1>
        </div>
        <div class="col"><img class="img-rounded background1" src=""></div>
    </div>
    <div class="row justify-content-md-around" style="background-color: #5DC25B; color: #5B755A;">
        
        <div class="col-sm-auto inline-flex pl2" style="width: 500px;">
            <h1 class="text-center p-4">LOR</h1>
            <p class="text-center">We create the most epic interactive gaming and entertainment experiences on earth immersing players in new, 
                unimagined worlds. Our products help build community and create social platforms that bring people together. 
                We are relentlessly curious, pushing the boundaries of what is possible to create games of our dreams—and yours. 
                To put it simply, our goal is to make every day more fun with games such as Cuby & Mathday. </p>
        </div>
        <div class="col-sm-auto inline-flex">
            <img src="../../assets/Mathday.png" class="float" style="width: 500px; min-width: 500px;">
        </div>
    </div>
</div>

