@font-face {
  font-family: 'zero_velocity_brkregular';
  src: url('../../assets/Fonts/zerovelo-webfont.woff2') format('woff2'),
       url('../../assets/Fonts/zerovelo-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.bg-darkgreen {
    background-color: #05723f !important;
  }