<div class="container bg-gradient-linear">
    <div class="container">
        <div class="row d-md-flex justify-content-center align-items-center">
            <div class="col-sm-3 mb-5">
                <p></p>
            </div>
            <div class="w-100">

            </div>
            <div class="col-sm-3 mb-5">
                <p></p>
            </div>
            <div class="w-100">

            </div>
            <div class="col-sm-3 p-3 mt-4 bg-darkgreen bg-gradient">
                <div class="mt-3 mb-4">
                    <label for="formGroupExampleInput" class="form-label pb-2"><b>Username</b></label>
                    <input type="text" class="form-control" id="formGroupExampleInput" [(ngModel)]="UserName" placeholder="Username" />
                    <label for="formGroupExampleInput" class="form-label pb-2 pt-3"><b>Password</b></label>
                    <input type="Password" class="form-control" id="formGroupExampleInput" [(ngModel)]="Password" placeholder="Password" />
                    <div class="form-check mt-3 ">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">Remember Me</label>
                      </div>
                    <div class="d-flex p-1 mt-1 justify-content-center">
                        <button type="button" class="btn btn-sm btn-outline-dark text-black w-100" (click)="AccountLogIn()">Login</button>
                    </div>
                    <div class="d-flex p-1 justify-content-center">
                        <button type="button" class="btn btn-sm btn-outline-dark text-black w-100" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">Create Account</button>
                    </div>
                </div>
            </div>
            <div class="w-100">

            </div>
            <div class="col-sm-3 text-center">
                <a class="text-dark" href="*">Need help logging in?</a>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-dark text-white-50">
                    <h5 class="modal-title" id="exampleModalLabel">Create Account</h5>
                </div>
                <div class="modal-body bg-success">
                    <div class="p-1">
                        <label for="formGroupExampleInput"  class="form-label text-white">Username</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" [(ngModel)]="UserName" placeholder="Input your username"/>
                    </div>
                    <div class="p-1">
                        <label for="formGroupExampleInput"  class="form-label text-white">Password</label>
                        <input type="Password" class="form-control" id="formGroupExampleInput" [(ngModel)]="Password" placeholder="Input your password" />
                    </div>
                    <div class="p-1">
                        <label for="formGroupExampleInput" class="form-label text-white">Repeat Password</label>
                        <input type="Password" class="form-control" id="formGroupExampleInput" [(ngModel)]="RepeatPassword" placeholder="Repeat your password" />
                    </div>
                    <div class="p-1">
                        <label for="formGroupExampleInput"  class="form-label text-white">E-mail</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" [(ngModel)]="Email" placeholder="Input your E-mail" />
                    </div>
                </div>
                <div class="modal-footer bg-dark">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="CreateAccount();">Save Account</button>
                </div>
            </div>
        </div>
    </div>
</div>