<div class="container-fluid ">
    <div class="container">
        <div class="p-5">
            <p></p>
        </div>
        <div class="row d-md-flex justify-content-center">
            <form class="col-sm-3 bg-darkgreen bg-gradient needs-validation" novalidate [formGroup]="EditForm">
                <div class="mb-3 mt-3">
                    <h5 class="text-center">Edit Account</h5>
                </div>
                <div class="mb-3">
                    <div>
                        <div>
                            <label for="Username" class="form-label text-white">Username</label>
                            <input type="text" class="form-control" id="Username" placeholder="Username"
                                formControlName="Username" name="Username" required />
                            <div *ngIf="Username?.invalid && (Username?.dirty || Username?.touched)"
                                class="alert text-danger">
                                <div *ngIf="Username?.errors?.required">
                                    Invalid Username
                                </div>
                            </div>
                            <div *ngIf="(this._LoginService.TakenUsername  | async) && !Username?.dirty">
                                Username is Taken
                            </div>
                        </div>
                        <div class="mt-2 mb-2">
                            <label for="Email" class="form-label text-white">E-mail</label>
                            <input type="text" class="form-control" id="Email" formControlName="Email"
                                placeholder="E-mail" name="Email" required />
                            <div *ngIf="Email?.invalid && (Email?.dirty || Email?.touched)" class="alert text-danger">
                                <div *ngIf="Email?.errors?.required">
                                    invalid E-mail
                                </div>
                                <div *ngIf="Email?.errors?.email">
                                    invalid E-mail
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 ">
                    <button class="btn btn-outline-dark text-white w-25 me-2" type="submit"
                        (click)="EditAccount()">Save</button>
                    <button class="btn btn-outline-dark text-white" type="button" data-bs-toggle="modal"
                        data-bs-target="#EditPassword">change password</button>
                </div>
            </form>
        </div>
    </div>

    <div class="modal fade" id="EditPassword" tabindex="-1" aria-labelledby="EditPasswordLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-dark text-white-50">
                    <h5 class="modal-title" id="EditPasswordLabel">change password</h5>
                </div>
                <div class="modal-body bg-success">
                    <form class="needs-validation" [formGroup]="EditForm" novalidate>
                        <div class="mb-2">
                            <label for="OldPassword" class="form-label text-white">Old Password</label>
                            <input type="Password" class="form-control" id="OldPassword" formControlName="OldPassword"
                                placeholder="Your password" name="CreatePassword" required />
                            <div *ngIf="OldPassword?.invalid && (OldPassword?.dirty || OldPassword?.touched)"
                                class="alert text-danger">
                                <div *ngIf="OldPassword?.errors?.required">
                                    Invalid Password
                                </div>
                            </div>
                        </div>
                        <div class="mt-2">
                            <label for="NewPassword" class="form-label text-white">New Password</label>
                            <input type="Password" class="form-control" id="NewPassword" formControlName="NewPassword"
                                placeholder="Password" name="CreateRepeatPassword" required />
                            <div *ngIf="NewPassword?.invalid && (NewPassword?.dirty || NewPassword?.touched)"
                                class="alert text-danger">
                                <div *ngIf="NewPassword?.errors?.required">
                                    Invalid Password
                                </div>
                                <div *ngIf="NewPassword?.errors?.minlength">
                                    Password needs atleast 6 characters
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer bg-dark">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success" data-bs-dismiss="modal" (click)="EditAccount()">Save password</button>
                </div>
            </div>
        </div>
    </div>
</div>