<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #75f573;">
    <div class="container-fluid">
        <a>LOR</a>
        <form class="container-fluid justify-content-start">
            <button class="btn btn-sm btn-outline-transparrent" routerLink="/home" type="button">Home</button>
            <button class="btn btn-sm btn-outline-transparrent" routerLink="/store" type="button">Store</button>
            <button class="btn btn-sm btn-outline-transparrent" routerLink="/about" type="button">About</button>
        </form>
        <form>
            <button class="btn btn-sm btn-outline-transparrent" routerLink="/profile" type="button">Profile</button>
        </form>
    </div>
</nav>