<div class="container-fluid">
  <div class="row justify-content-center">
      <div class="text-center p-0">
          <div id="carouselExampleSlidesOnly" class="carousel slide carousel-control-width 100%" data-bs- ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="..\assets\slideshow1.jpeg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="..\assets\sildeshow2.jpeg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="..\assets\sildeshow3.jpg" class="d-block w-100" alt="...">
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
      </div>
  </div>
  <div class="row mt-5 Launcher">
      <div class="col-2 justify-content-center" >
        <h1 class="fw-bold">Download Lor.exe</h1>
          <div id="info">
            <h5>All our game in one place</h5>
            <h5>Chat with your frindes</h5>
            <h5>brows the store</h5>
          </div>
        <button class="btn-sm btn-dark btn-outline-success" type="button" (click)="DownloadLauncher()">Download</button>
      </div>
      <div class="col-4">
        <img src="..\assets\PlaceholderImage.png" alt="">
      </div>
  </div>
  <div class="card-footer">
    <div>
      <app-about></app-about>
    </div>
  </div>
</div>