<div class="overflowh container-fluid m-0 p-0">
  <div class="row justify-content-center m-0">
      <div class="text-center p-0">
          <div id="carouselExampleSlidesOnly" class="carousel slide carousel-control-width 100% " data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="..\assets\slideshow1.jpg"  alt="...">
                </div>
                <div class="carousel-item">
                  <img src="..\assets\slideshow2.jpg" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="..\assets\sildeshow3.jpg"  alt="...">
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
      </div>
  </div>
  <div class="row mt-5 m-0 Banner-Bg justify-content-md-around text-success">
      <div class="col-2" >
        <h1 class="fw-bold">Download Lor.exe</h1>
          <div id="info">
            <h5><i class="fas fa-cloud-upload-alt text-white-50"></i> All of our games in one place</h5>
            <h5><i class="fas fa-user-friends text-white-50"></i> Chat with your friends</h5>
            <h5><i class="fas fa-shopping-basket text-white-50"></i> browse the store</h5>
          </div>
        <button class="btn-lg btn-dark btn-outline-success" type="button" (click)="DownloadLauncher()"><i class="fas fa-download"></i> Download</button>
      </div>
      <div class="col-3">
        <img class="LauncherImg" src="..\assets\PlaceholderImage.png" alt="">
      </div>
  </div>
</div>